{% extends 'new_base.html' %}
{% block title %} Transfer Details {% endblock %}


{% block table %}
    <form method="post" id="department_form">
    {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header bg-warning text-center">
                <h3 class="card-title">ASSET TRANSFER</h3>
              </div>
              <div class="card-body p-0">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">/</span>
                        <span class="bs-stepper-label">Transfer Details</span>
                      </button>
                    </div>
                    <div czlass="line"></div>
                  </div>
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <hr/>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Initiated By</label>
                          <div class="col-sm-9">
                              <h4>{{transfer.being_moved_by.first_name}} {{ transfer.being_moved_by.last_name }}</h4>
                           </div>

                        </div>
                      </div>
                         <div class="col-md-6">
                               <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Asset Being Moved</label>
                                      <div class="col-sm-9">
                                           <h4>{{transfer.asset.tag }}</h4>
                                      </div>
                                 </div>
                          </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Reason For Transfer</label>
                          <div class="col-sm-9">
                              <h4>{{transfer.reason_for_transfer}}</h4>
                           </div>

                        </div>
                      </div>
                         <div class="col-md-6">
                               <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Date Initiated</label>
                                      <div class="col-sm-9">
                                           <h4>{{transfer.date_initiated}}</h4>
                                      </div>
                                 </div>
                          </div>
                    </div>

                        <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Transfer Type</label>
                          <div class="col-sm-9">
                              <h4>{{transfer.type}}</h4>
                           </div>

                        </div>
                      </div>
                         <div class="col-md-6">
                               <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Recipient</label>
                                      <div class="col-sm-7">
                                          {% if transfer.type.name == 'Internal'%}
                                           <h5>{{transfer.asset.assigned_to}}</h5>
                                          {% else %}
                                            <h5>{{transfer.external_company }}</h5>
                                          {% endif %}

                                      </div>
                                 </div>
                          </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Line Manager's Comments</label>
                                {% if transfer.is_approved == True %}
                                <h5>{{transfer.narration}}</h5>
                                {% else %}
                                    <textarea name="narration" id="narration" style="border-radius:5px;width: 100%; height: 150px;padding: 12px 20px;box-sizing: border-box; border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;  font-size: 16px; resize: none;" rows="8" required {% if transfer.is_approved == True %} {% endif %}></textarea>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Line Manager Action</label>

                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="approve" id="approve" {% if transfer.is_approved == True %} disabled checked {% else %} {% endif %} placeholder="{{transfer.narration}}">
                                        <label class="form-check-label"><b> Approve Request</b></label>
                                    </div>
<!--                                    <div class="form-check">-->
<!--                                        <input type="checkbox" class="form-check-input"  name="revoke" id="revoke"{% if req.line_manager_rejected == True  %} checked disabled {% else %} {% endif %} {% if req.line_manager_approved == True %}  disabled {% else %} {% endif %}>-->
<!--                                        <label class="form-check-label" ><b>Revoke Request</b></label>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                          {% if messages %}
                              <ul class="">
                                  {% for message in messages %}
                                      {% if message.tags %}
                                          <h4 class="{{ message.tags }} text-center {% if message.tags == 'warning' %} text-danger {% else %} text-success {% endif %} ">
                                      {{ message }}</h4>
                                  {% endif %}
                                  {% endfor %}
                              </ul>
                          {% endif %}
                        </div>
                        {% if request.user.employee.is_manager and transfer.is_approved is False %}
                            <button class="btn btn-warning btn-block" type="submit">submit</button>
                        {% elif approved is True %}

                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-warning">

              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
   </form>
{% endblock %}
