{% extends 'dashboard.html' %}
{% block title %}MY DEPLOYMENTS{% endblock %}
{% block page_content %}
<div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30" >
        <table class="table table-borderless table-striped table-earning">
            <thead style="background:navy;">
                <tr>
                    <th>ASSET TAG</th>
                    <th>NEW ACTIVE DIRECTORY NAME</th>
                    <th>CUSTODIAN</th>
                    <th class="text-right">DATE DEPLOYED</th>
                    <th class="text-right">CLEARANCE </th>
                    <th class="text-right">DEPLOYED BY</th>
                </tr>
            </thead>
            <tbody>
            {% for dep in mine %}
                    <tr>
                        <td><a href="{% url 'application:deployment' id=dep.id %}">{{dep.abc_asset_tag}}</a></td>
                        <td>{{dep.new_active_directory_name}}</td>
                        <td>{{dep.custodian}}</td>
                        <td class="text-right">{{ dep.date_configured }}</td>
                        <td class="text-right"><button {% if dep.cleared == False %} class="btn btn-warning" {% else %} class="btn btn-success" {% endif %}>{% if dep.cleared == False %} UNCLEARED {% else %} CLEARED{% endif %}</button></td>
                        <td class="text-right">{{dep.configured_by}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}