{% extends "authbase.html" %}.


{% block form_body %}

<label for="pwd">Password:</label>
    <input type="password" required class="form-control form-control-lg" id="password" placeholder="Enter a password">
<div class="form-group">
   <label for="pwd">Confirm Password:</label>
   <input type="password" required class="form-control form-control-lg" id="confirm_password" placeholder="Enter a Confirm Password">
    <div id="pswd_info">
        <h4>Password must meet the following requirements:</h4>
        <ul>
            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
            <li id="number" class="invalid">At least <strong>one number</strong></li>
            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
        </ul>
    </div>
</div>


          <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn d-flex justify-content-center">Submit</button>
{% endblock %}
